p {
  text-align: justify;
}

h3{
text-align: justify;
}

div.a {
  text-align: justify;
}

div.b {
  text-align: justify;
}

div.c {
  text-align: justify;
}

div.c {
  text-align: justify;
}